---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { homePageContent, identity } from "../config";
import SocialLink from "../components/SocialLink.astro";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";
import LogoWall from "../components/LogoWall.astro";
import SplashCursor from "../components/SplashCursor/SplashCursor";
import { projectsPageContent } from "../config";
import ProjectCard from "../components/ProjectCard.astro";
import Greeting from "../components/Greetings/Greetings";


const posts = await getCollection("posts");
posts.sort((a: { data: { pubDate: string | number | Date; }; }, b: { data: { pubDate: string | number | Date; }; }) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
posts.splice(2);
---

<Layout seo={homePageContent.seo}>
  <!-- <SplashCursor client:visible /> -->
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <Greeting client:load />
    <p class="opacity-60 mb-3">{homePageContent.role}</p>
    <div class="flex flex-col min-[520px]:flex-row gap-4 mb-10">
      <div class="group flex justify-center gap-4 w-fit text-sm">
        {
          homePageContent.socialLinks.map((link) => (
            <SocialLink
              title={link.title}
              url={link.url}
              icon={link.icon}
              external={link.external}
            />
          ))
        }
      </div>
    </div>
    <p class="mb-5 text-sm text-justify">
      {homePageContent.description}
    </p>
    <div class="flex items-center gap-4 group w-fit text-xs">
      {
        homePageContent.links.map((link) => (
          <Link text={link.title} href={link.url} external={link.external} />
        ))
      }
    </div>
  </section>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h2 class="mb-8">Tech Stack</h2>
    <LogoWall />
  </section>
  <section class="mt-20 max-w-2xl mx-auto px-6">
    <h2 class="mb-8">Featured Projects</h2>
    <div class="grid grid-cols-1 gap-6">
      {
        projectsPageContent.projects
          .filter((project) => project.highlighted)
          .map((project) => <ProjectCard {...project} />)
      }
    </div>
  </section>
  <section class="mt-20 max-w-2xl mx-auto px-6">
    <h2 class="mb-8">Latest Posts</h2>
    <div class="grid grid-cols-1 gap-10 sm:gap-6 mb-10">
      {
        posts.map((post: { id: any; data: { pubDate: { toLocaleDateString: () => unknown; }; title: unknown; description: unknown; }; }) => (
          <a
            href={`/blog/${post.id}`}
            class="post"
          >
            <div class="mt-4 sm:my-auto">
              <p class="opacity-60 mb-2">
                {post.data.pubDate.toLocaleDateString()}
              </p>
              <h3 class="font-medium hover-underline">{post.data.title}</h3>
              <p class="text-sm opacity-60 mt-2 mb-3">
                {post.data.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
